/* Pink Theme */
.bg-pink {
    background-color: #e10174 !important;
  }
  /* Disable scrolling */

  .bg-pink-light {
    background-color: #f8e1f2 !important;
  }
  
  .text-pink {
    color: #e10174 !important;
  }
  
  .btn-pink {
    background-color: #e10174;
    border-color: #e10174;
    color: white;
  }
  
  .btn-pink:hover {
    background-color: #c90063;
    border-color: #c90063;
  }
  
  /* Animations */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .animate__fadeInLeft {
    animation: fadeIn 1s ease-in-out;
  }
  
  .animate__fadeInRight {
    animation: fadeIn 1s ease-in-out;
  }