.tablerow {
    width: 100%;
    border-collapse: collapse; 
    margin-top: 10px; 
}

.tablerow th,
.tablerow td {
    border: 1px solid #ddd;
    padding: 8px; 
    text-align: center; 
}

.tablerow th {
    background-color: #E10174; 
    color: white; 
    font-weight: bold; 
}

.tablerowrow tr:nth-child(even) {
    background-color: #f2f2f2; 
}

.tablerow tr:hover {
    background-color: #ddd; 
}

.tablerow tr.settled {
    background-color: lightgray; 
    color: white; 
}

.tablerow .fw-medium {
    font-weight: 500; 
}

.tablerow .text-center {
    display: flex;
    align-items: center; 
    justify-content: center; 
}
.text-shrink {
    white-space: nowrap;       
}




  
  .carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: rgb(19, 13, 13); /* Change icon color to white */
    border-radius: 50%; /* Optional: make buttons circular */
  }
  
  /* .carousel-indicators li {
    background-color: transparen; /* Change indicator dots to black */
    
    .active-link {
        color: blue; 
    }


    .table-container3 {
        max-height: 74vh; /* Adjust height as needed */
        overflow: hidden;
        display: flex;
        flex-direction: column;
       
      }

    .table-container {
        max-height: 70vh; /* Adjust height as needed */
        overflow: hidden;
        display: flex;
        flex-direction: column;
      }
      .table-container1 {
        max-height: 68vh; /* Adjust height as needed */
        overflow: hidden;
        display: flex;
        flex-direction: column;
      }
      
      .table-responsive {
        flex: 1;
        overflow: auto;
      }
      
      .sticky-header {
        position: sticky;
        top: 0;
        z-index: 1;
      }
      
      .scrollable-body {
        overflow-y: auto;
        max-height: 60vh; /* Adjust height as needed */
      }