.tablerow {
    width: 100%;
    border-collapse: collapse; 
    margin-top: 20px; 
}

.tablerow th,
.tablerow td {
    border: 1px solid #ddd;
    padding: 8px; 
    text-align: center; 
}

.tablerow th {
    background-color: #E10174; 
    color: white; 
    font-weight: bold; 
}

.tablerowrow tr:nth-child(even) {
    background-color: #f2f2f2; 
}

.tablerow tr:hover {
    background-color: #ddd; 
}

.tablerow tr.settled {
    background-color: lightgray; 
    color: white; 
}

.tablerow .fw-medium {
    font-weight: 500; 
}

.tablerow .text-center {
    display: flex;
    align-items: center; 
    justify-content: center; 
}
